Import Data

In [49]:
# Importing os for getting path names for data
import os
# Importing pandas 
import pandas as pd

In [2]:
data_path = os.path.join('data','zippedData')
files = os.listdir(data_path)

In [3]:
import_paths = [os.path.join(data_path,file) for file in files]

In [4]:
import_paths

['data/zippedData/imdb.title.crew.csv.gz',
 'data/zippedData/tmdb.movies.csv.gz',
 'data/zippedData/imdb.title.akas.csv.gz',
 'data/zippedData/imdb.title.ratings.csv.gz',
 'data/zippedData/imdb.name.basics.csv.gz',
 'data/zippedData/rt.reviews.tsv.gz',
 'data/zippedData/imdb.title.basics.csv.gz',
 'data/zippedData/rt.movie_info.tsv.gz',
 'data/zippedData/tn.movie_budgets.csv.gz',
 'data/zippedData/bom.movie_gross.csv.gz',
 'data/zippedData/imdb.title.principals.csv.gz']

In [28]:
data = {}
for path in import_paths:
    try:
        df = pd.read_csv(path) #this will fail on the .tsv
    except:
        df = pd.read_csv(path,delimiter='\t', encoding='unicode_escape')
    data[path.split('/')[-1]] = df

In [42]:
data['bom.movie_gross.csv.gz']

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [43]:
data['tmdb.movies.csv.gz']

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [41]:
file_rename_list = ['writer_director', #imdb.title.crew.csv.gz
                   'move_info',#tmdb.movies.csv.gz
                   'global_title',#imdb.title.akas.csv.gz
                   'rating_with_votes',#imdb.title.ratings.csv.gz'
                   'worked_in_film',#imdb.name.basics.csv.gz
                   'rotten_reviews',#rt.reviews.tsv.gz
                   'movie_basic_info',#imdb.title.basics.csv.gz
                   'rotten_movie_info',#rt.movie_info.tsv.gz
                   'budget_tn',#tn.movie_budgets.csv.gz
                   'boxoffice_bom',#bom.movie_gross.csv.gz
                   'character_title',#imdb.title.principals.csv.gz
                   ]

In [72]:
#getting movie title and genre from the df
df_test_info = data['tmdb.movies.csv.gz'].loc[:,['genre_ids','original_title']]

In [73]:
#changing column title to be the same with other df
df_test_info.rename(columns={'original_title':'title'},inplace=True) #df.rename(columns={"A": "a", "B": "c"})

In [74]:
#getting the title and gross into sep df
df_test_box = data['bom.movie_gross.csv.gz'].loc[:,['title','domestic_gross','foreign_gross']]

In [75]:
#merging the movie info with the gross income info
df_test_box_info = df_test_box.merge(df_test_info,how='left',on='title')

In [76]:
#getting rid of commas in the foreign gross column
df_test_box_info.foreign_gross = df_test_box_info.foreign_gross.str.replace(',','')

In [104]:
df_test_box[(df_test_box.title == "Marvel's The Avengers")]

                     title  domestic_gross foreign_gross
727  Marvel's The Avengers     623400000.0     895500000

In [80]:
#changing foreign gross from string to float
df_test_box_info.foreign_gross = df_test_box_info.foreign_gross.astype(float)

In [81]:
# making new column of total gross
df_test_box_info['total_gross'] = df_test_box_info['domestic_gross'] + df_test_box_info['foreign_gross']

In [99]:
df_test_box.iloc[750:752]

                                title  domestic_gross foreign_gross
750  Journey 2: The Mysterious Island     103900000.0     231400000
751                 The Expendables 2      85000000.0     229900000

In [111]:
df_test_box_info = df_test_box_info.sort_values(by='total_gross',ascending=False)

In [112]:
df_test_box_info.drop_duplicates(subset='title').head(50)

,title,domestic_gross,foreign_gross,genre_ids,total_gross
751,Marvel's The Avengers,623400000.0,895500000.0,NaN,1.518900e+09
1957,Avengers: Age of Ultron,459000000.0,946400000.0,"[28, 12, 878]",1.405400e+09
3393,Black Panther,700100000.0,646900000.0,"[28, 12, 14, 878]",1.347000e+09
339,Harry Potter and the Deathly Hallows Part 2,381000000.0,960500000.0,NaN,1.341500e+09
2999,Star Wars: The Last Jedi,620200000.0,712400000.0,"[14, 12, 878, 28]",1.332600e+09
3394,Jurassic World: Fallen Kingdom,417700000.0,891800000.0,"[28, 12, 878]",1.309500e+09
1171,Frozen,400700000.0,875700000.0,[53],1.276400e+09
3001,Beauty and the Beast (2017),504000000.0,759500000.0,NaN,1.263500e+09
3395,Incredibles 2,608600000.0,634200000.0,"[28, 12, 16, 10751]",1.242800e+09
1173,Iron Man 3,409000000.0,805800000.0,"[28, 12, 878]",1.214800e+09
1958,Minions,336000000.0,823400000.0,"[10751, 16, 12, 35]",1.159400e+09
2488,Captain America: Civil War,408100000.0,745200000.0,"[12, 28, 878]",1.153300e+09
3396,Aquaman,335100000.0,812700000.0,"[28, 12, 14]",1.147800e+09
340,Transformers: Dark of the Moon,352400000.0,771400000.0,"[28, 878, 12]",1.123800e+09
752,Skyfall,304400000.0,804200000.0,"[28, 12, 53]",1.108600e+09
1538,Transformers: Age of Extinction,245400000.0,858600000.0,"[878, 28, 12]",1.104000e+09
753,The Dark Knight Rises,448100000.0,636800000.0,"[28, 80, 18, 53]",1.084900e+09
0,Toy Story 3,415000000.0,652000000.0,"[16, 10751, 35]",1.067000e+09
2489,Rogue One: A Star Wars Story,532200000.0,523900000.0,"[28, 12, 878]",1.056100e+09
341,Pirates of the Caribbean: On Stranger Tides,241100000.0,804600000.0,"[12, 28, 14]",1.045700e+09
3003,Despicable Me 3,264600000.0,770200000.0,"[28, 16, 35, 10751, 12]",1.034800e+09
2491,Finding Dory,486300000.0,542300000.0,"[12, 16, 35, 10751]",1.028600e+09
1,Alice in Wonderland (2010),334200000.0,691300000.0,NaN,1.025500e+09
2492,Zootopia,341300000.0,682500000.0,"[16, 12, 10751, 35]",1.023800e+09
754,The Hobbit: An Unexpected Journey,303000000.0,718100000.0,"[12, 14, 28]",1.021100e+09
1174,Despicable Me 2,368100000.0,602700000.0,"[16, 35, 10751]",9.708000e+08
2493,The Jungle Book (2016),364000000.0,602500000.0,NaN,9.665000e+08
3005,Jumanji: Welcome to the Jungle,404500000.0,557600000.0,"[28, 12, 35, 14]",9.621000e+08
2,Harry Potter and the Deathly Hallows Part 1,296000000.0,664300000.0,NaN,9.603000e+08
1175,The Hobbit: The Desolation of Smaug,258399999.0,700000000.0,"[12, 14, 28]",9.584000e+08
1539,The Hobbit: The Battle of the Five Armies,255100000.0,700900000.0,"[28, 12, 14]",9.560000e+08
1954,Star Wars: The Force Awakens,936700000.0,1131.6,"[28, 12, 878, 14]",9.367011e+08
3397,Bohemian Rhapsody,216400000.0,687200000.0,"[18, 10402]",9.036000e+08
1960,Spectre,200100000.0,680600000.0,"[28, 12, 80]",8.807000e+08
3006,Spider-Man: Homecoming,334200000.0,546000000.0,"[28, 12, 878, 18]",8.802000e+08
755,Ice Age: Continental Drift,161300000.0,715900000.0,"[16, 35, 12, 10751]",8.772000e+08
2494,The Secret Life of Pets,368400000.0,507100000.0,"[12, 35, 16, 10751]",8.755000e+08
2495,Batman v Superman: Dawn of Justice,330400000.0,543300000.0,"[28, 12, 14]",8.737000e+08
3007,Wolf Warrior 2,2700000.0,867600000.0,NaN,8.703000e+08
1176,The Hunger Games: Catching Fire,424700000.0,440300000.0,"[12, 28, 878]",8.650000e+08
3008,Guardians of the Galaxy Vol. 2,389800000.0,473900000.0,"[28, 12, 35, 878]",8.637000e+08
1962,Inside Out,356500000.0,501100000.0,"[18, 35, 16, 10751]",8.576000e+08
3398,Venom (2018),213500000.0,641500000.0,NaN,8.550000e+08
3010,Thor: Ragnarok,315100000.0,538900000.0,"[28, 12, 35, 14]",8.540000e+08
756,The Twilight Saga: Breaking Dawn Part 2,292300000.0,537400000.0,NaN,8.297000e+08
3,Inception,292600000.0,535700000.0,"[28, 878, 12]",8.283000e+08
3012,Wonder Woman,412600000.0,409300000.0,"[12, 14, 10752, 10749]",8.219000e+08
2496,Fantastic Beasts and Where To Find Them,234000000.0,580000000.0,NaN,8.140000e+08
3014,Coco,209700000.0,597400000.0,"[16, 10751, 35, 12, 14]",8.071000e+08
3015,Pirates of the Caribbean: Dead Men Tell No Tales,172600000.0,622300000.0,"[12, 28, 14, 35]",7.949000e+08

In [87]:
genre_id_to_string = {28:'action',
                      16:'animated',
                      99:'documentary',
                      18:'drama',
                      10751:'family',
                      14:'fantasy',
                      36:'history',
                      35:'comedy',
                      10752:'war',
                      80:'crime',
                      10402:'music',
                      9648:'mystery',
                      10749:'romance',
                      878:'sci-fi',
                      27:'horror',
                      10770:'TV-movie',
                      53:'thriller',
                      37:'western',
                      12:'adventure'}